<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="emp1" class="com.example.demo2.Emp">
        <property name="name" value="Doraemon" />

        <property name="phones">
            <list>
                <value>123</value>
                <value>456</value>
                <value>789</value>
                <null/>
            </list>
        </property>

        <property name="address">
            <set>
                <value>KKR</value>
                <value>CSK</value>
                <value>MI</value>
            </set>
        </property>

        <property name="courses">
            <map>
                <entry key="Java" value="2 months"/>
                <entry key="CPP" value="1.5 months"/>
                <entry key="Python" value="1 month"/>
            </map>
        </property>

    </bean>

</beans>